# Integers must be written without '.'
# Numbers with '.' or in scientific notation will be interpreted as float
# Else: Exception, not allowed


[SimpleSwitch]
#Network topology
switching_table=[(1,2),(7,3)]
list_sw_table = [[(1,2),(1,3)]]
num_leaves=30
list_distance = [20]
#Memory parameters
T1 = 1e9 #T1 time, dictating amplitude damping component for memories (nanoseconds)
T2 = 1e9 #T2 dephasing time for memories(nanoseconds)
#Quantum Processor
dephase_rate = 200 #Dephasing rate in gates (Hz)
list_instr = [100,1000,10000]
#Entanglement source
source_fidelity_sq = 1 #Fidelity of the source
#Depolarizing Channel
p_depol_init = 0.009 #Probability of depolarization on entering a fibre.
p_depol_length = 0.0025 #Probability of depolarization per km of fibre.
#Confict resolution strategy
conflict_strategy='FIFO' #Strategy for conflict resolution, options: 'FIFO', 'LIFO', 'Random'
#Simulation
duration = 1e9 #Duration of simulation (nanoseconds)



